.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.a {
    color: black;
    text-decoration: none;
}

.nav {
    height: 7.5vh;
}

button {
    margin: auto;
    text-align: center;
}

button:hover{
    cursor: pointer;
}

