.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    margin: auto;
    text-align: center;
}

button:hover{
    cursor: pointer;
}

